<div class="outer-container">
  <div class="container">
    <div class="login-photo">
      <%= image_tag ("login_icons/img_chef_login.jpg"), class: "logo", alt: "sign up logo" %>
    </div>
    <h2>Update Profile</h2>
    <%= form_with model: @chef, class: "login-form" do |f| %>
      <div class="mb-20">
        <%= f.text_field :name, class: "text-box", placeholder: "Enter Name" %>
        <% @chef.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.email_field :email, class: "text-box", placeholder: "Enter Email" %>
        <% @chef.errors.full_messages_for(:email).each do |message| %>
        <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.text_field :phone, class: "text-box", placeholder: "Enter Phone" %>
        <% @chef.errors.full_messages_for(:phone).each do |message| %>
        <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.text_field :birthday, onfocus: "(this.type='date')", class: "text-box", placeholder: "Enter Birthday" %>
        <% @chef.errors.full_messages_for(:birthday).each do |message| %>
        <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.text_area :address, class: "text-box", placeholder: "Enter Address" %>
        <% @chef.errors.full_messages_for(:address).each do |message| %>
        <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="submit">
        <%= f.submit "Update", class: "submit-btn" %>
        <%= link_to "Go Back", chef_path(id: session[:chef_id]), class: "cancel-btn" %>
      </div>
    <% end %>
  </div>
</div>