<div class="outer-container">
  <div class="container">
    <h2>Waiter Password Change</h2>
    <%= form_with url: waiter_password_path, class: "login-form", method: :post do |f| %>
      <div class="mb-20">
        <%= f.password_field :current_password, class: "text-box", placeholder: "Enter Current Password" %>
        <% if @current %>
          <span class="error"><%= @current %></span>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.password_field :password, class: "text-box", placeholder: "Enter New Password" %>
        <% if @new %>
          <span class="error"><%= @new %></span>
        <% end %>
      </div>
      <div class="mb-20">
        <%= f.password_field :confirmation_password, class: "text-box", placeholder: "Confirm  Password" %>
        <% if @confirm %>
          <span class="error"><%= @confirm %></span>
        <% end %>
      </div>
      <div class="submit">
        <%= f.submit "Update", class: "submit-btn" %>
        <%= link_to "Go Back", waiter_path(id: session[:waiter_id]), class: "cancel-btn" %>
      </div>
    <% end %>
  </div>
</div>